{
    "MWREL": "REL1_35",
    "WMF": [
        "CookieWarning",
        "Math"
    ],
    "Git": {
        "CrowdSec": {
            "type": "github",
            "repo": "ShinyColorsWiki/mediawiki-extension-crowdsec",
            "branch": "master"
        }
    },
    "http": {
        "AWS": "https://github.com/edwardspec/mediawiki-aws-s3/archive/refs/heads/master.zip"
    }
}